.addUser{
    width: 25%;
    border-left-color: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}
.addUserFrom{
    margin-top: 20px;
}
.addUserFrom .inputGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.addUserFrom .inputGroup label{
    margin-bottom: 5px;
}
.addUserFrom .inputGroup input {
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}
.addUserFrom .inputGroup button{
    border: 0;
    outline: none;
    background-color: purple;
    padding: 10px;
    color: white;
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    
}

.addUser h3{
    margin-top: 10px;
}